/* profile.html */

#profile p {
  max-width: 100%;
  max-height: 100%;
}

#profile div {
  max-width: 100%;
  max-height: 100%;
}

.comment-container {
  position: relative;
}

.comment-container p {
  word-wrap: break-word;
}

.comment {
  color: black;
}

.text {
  position: absolute;
  top: 0;
  z-index: 2;
  pointer-events: none;
}

.text {
  color: transparent;
}

.text .invalid {
  color: red;
}

/* Placeholder support for contentEditable elements, without JavaScript - https://codepen.io/flesler/pen/AEIFc */
[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  /* For Firefox */
}

#nav-body {
  position: relative;
  visibility: hidden;
}
